.card-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  display: block;
  border: 1px solid #ddd; 
}
/* Image Area */
.card-image-area {
  width: 100%;
  height: 220px;
  background-color: #d9d9d9; 
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img-placeholder {
  width: 100%;
  height: 100%;
  background: #e0e0e0;
}

/* Content Area */
.card-body {
  padding: 25px;
  text-align: left;
}

.card-category {
  color: #28a786; 
  font-weight: 700;
  font-size: 0.85rem;
  text-transform: capitalize;
  display: block;
  margin-bottom: 12px;
}

.card-title {
  font-family: 'Georgia', serif;
  font-size: 1.35rem;
  color: #1a1a1a;
  line-height: 1.3;
  margin-bottom: 15px;
  font-weight: 700;
}

.card-description {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* Progress Section */
.card-progress-section {
  margin-bottom: 25px;
}

.progress-top, .progress-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 600;
  color: #444;
}

.progress-bar-bg {
  height: 6px;
  background-color: #d1e2d7; 
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: #28a786; 
  border-radius: 10px;
}

/* Button */
.card-btn {
  width: fit-content;
  padding: 10px 25px;
  background-color: transparent;
  border: 1.5px solid #28a786;
  color: #28a786;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-btn:hover {
  background-color: #28a786;
  color: #ffffff;
}

.card-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
  
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;  
  overflow: hidden;
  word-break: break-word; 
  line-height: 1.5;
  height: 4.5em;
}