.info-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 40px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.info-card-container .info-card {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #f0f0f0;
    text-align: center;
    padding: 30px 20px;
}

.info-card-container .info-card img {
    height: 80px;
}

.info-card-container .info-card h3 {
    color: var(--feast-black);
    font-size: 22px;
    padding: 10px 0;
}

.info-card-container .info-card p {
    color: var(--feast-gray);
    font-size: 15px;
    line-height: 1.8;
}

.info-card-container .info-card:hover {
    background-color: var(--feast-light-green);
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
